* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 960px;
    margin: auto;
}

header {
    background-color: rgb(39, 36, 36);
    height: 40px;
}



nav>ul {
	margin:0;
	padding: 0;
	display: flex;
    justify-content: space-between; 
    list-style: none;
}

nav>ul>li>a{
	text-decoration: none;
	padding: 20px 70px 20px 70px;
	display: inline-block;
    color: #ffffff;
    font-size: 18px;
}

nav>ul>li>a:hover{
    color: #FFD12E;
    font-weight: bold;
}

h1 {
    padding: 20px;
}

form div input {
    margin: 10px;
    width: 400px;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(168, 163, 163, 0.5);
}

.divLabel {
    display: flex;
}

.desc input {
    height: 400px;
    width: 810px;
}

form button {
    background-color: rgb(63, 107, 228);
    width: 810px;
    height: 30px;
    color: wheat;
    border-radius: 5px;
    border: none;
}